@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-family: "Pretendard", sans-serif;
    color: #333;    
    overflow-y: auto;
}
body.fixed {
	overflow-y: hidden; 
}
ul, ol {
    list-style: none;    
}
a {
    text-decoration: none;
    color: inherit;
    display: block;    
}
img {
    max-width: 100%;
    vertical-align: top;
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;    
    transform: translateZ(0);
    backface-visibility: hidden;
}
html{
    scroll-behavior: smooth;
}
/* common */
h2 {
    font-size: clamp(38px, 3.8vw , 55px);
    font-weight: 900;
    color: #F55823;
}
h3 {
    font-size: clamp(22px, 2vw , 30px);
    font-weight: 900;
    color: #333;
    padding: 0.5em 0;    
}
h4 {
    font-size: clamp(18px, 1.5vw , 22px);
    font-weight: 700;
    color: #fff;
    padding: 0.5em 0;    
}
.wrapper {
    margin: 0 auto;    
}
/* main */
main {
    background-color: #F55823;   
}
main .inner {    
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;        
}
@media (max-width:1440px){
    main .inner {    
        padding: 0 1.5em;
    }
}
/* main-header */
#header {
    position: fixed;
    left: 0;    
    width: 100vw;     
    height: 5em;
    z-index: 100;  
    background-color: #F55823;
}
#header .inner {    
    position: relative;    
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;
    height: 100%;   
    display: flex;    
    justify-content: space-between;
    align-items: center;        
    border-bottom: 1px solid  rgb(51, 51, 51,0.25);      
}
#header .inner::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.4);
}
#header.fixed {    
    background-color: rgb(0, 0, 0,.8);    
}
#header.fixed .inner::after {
    display: none;
}
#header h1 {
    padding: 1em 0;
    font-size: clamp(30px, 2.7vw, 40px);    
    color: #fff;
}
#gnb ul {
    display: flex;    
}
#gnb ul li a {
    display: block;
    padding: 1em 2em;
    line-height: 2.5;
    color: #fff;
}
#gnb ul li.active a {
    color: #F55823 ;    
}
/* mobile Gnb */
/* #mobilemenu {    
    display: none;  
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;    
} */
.tab {
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: url(../images/menu_24dp_w.svg) no-repeat;        
    background-size: contain;
    z-index: 200;        
}
.tab.active {
    right: 70%;
    background: url(../images/close_24dp_w.svg) no-repeat;
    background-size: contain;                
}
.m_gnb {        
    position: fixed;
    right: -100%;
    top: 0;
    width: 70%;
    height: 100vh;       
    background-color: #fff;        
    padding: 2em;
    transition: right 0.3s;
    z-index: 250;        
}
.m_gnb.active {          
    right: 0;
}
.m_gnb ul a {
    display: block;
    padding: 1em 0;    
    font-weight: 600;
    line-height: 2.5;
    border-bottom: 1px solid #eaeaea;    
}
.m_gnb h1 {
    font-size: clamp(30px, 2.7vw, 40px);    
    color: #fff;
    color: #F55823;
}    
.dim {
    display: none;
    position: fixed;
    left: 0;
    top: 0;    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,.8);
    z-index: 110;
}
.dim.active {
    display: block;        
}  
/* main-cover */
.cover {
    padding: clamp(80px, 10.4vw, 150px) 0; 
    width: 100%; 
}
.s_title p {    
    font-size: clamp(18px, 1.8vw, 26px);
    color: #fff;
    /* border: 1px solid #ff0; */
}
.s_title strong {
    display: block;
}
.cover_title {
    display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    width: 100%;        
    height: 70vh;
    /* border: 1px solid #ff0;     */
}
.cover_title h1 {
	position: relative;
	transform: translateY(-30%);
    /* border: 2px solid #fff;     */
}
.cover_title h1 span {   
    display: block;    
    font-size: clamp(85px, 23vw, 346px);
    font-weight: 900;
    line-height: 0.8;    
    color: #fff;    
    /* border: 2px dashed #000;     */
}
.cover_title h1 span:last-child {    
    position: absolute;
	left: 0;
	top: 0.35em;    
    color: rgb(0, 0, 0,.3);
}
.cover .name {
    text-align: right;
    padding: 10px 0 0 0 ;
    /* border: 1px solid #90f;     */
}
.cover .name p {
    font-size: clamp(18px, 1.8vw, 26px);    
    color: #fff;    
}
.cover .name strong {
    display: block;
}
@media (max-width : 930px) {
    #header {
        height: 4em;
    }
    #gnb ul li a {
        padding: 0.5em 1em;        
    }
}
@media (max-width : 720px) {   
    #gnb {
        display: none;
    }   
    .tab {
        display: block;
    }
}
/* about */
.about {
    background-color: #EFEFEF;   
}
.about .inner {     
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;
    /* height: 100vh; */
    padding: clamp(80px, 8.3vw, 120px) 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about h3 {
    /* font-size: clamp(24px, 2vw , 30px); */
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: -0.01em;
}
.about_area {
    display: flex;        
    padding-bottom: clamp(30px, 4.1vw, 60px);
    /* border: 1px solid #f90;     */
}
.about_area .left,
.about_area .right {
    width: 50%;         
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    /* border: 1px solid #f90;         */
}
.about_area .left_content {
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
}
.about_area .right .desc {
    width: 80%;
    line-height: 1.6;
}
.about_area .right .desc p {
    padding: 10px 0;
}
.about_area .right .desc p:last-child {
    padding-bottom: 0;
}
.about_area .left .title span {
    display: block;
}
.skills > ul {
    display: flex;            
}
.skills > ul > li {
    width: 50%;
}
.about ul li {    
    line-height: 1.6;
}
/* about-copyright */
.about .copyright {
    position: relative;
    padding: clamp(10px, 1.3vw, 20px) 0;
    border-top: 1px solid rgb(51, 51, 51,0.2);    
    color: #999;
}
.about .copyright::after {
    position: absolute;
    content: "";
    left: 0;
    top: 1px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
@media (max-width:1440px){
    .about .inner {    
        padding: clamp(80px, 8.3vw, 120px) 1.5em;
    }
}
@media (max-width : 930px) {
    .skills > ul >li:first-child {
        width: 80%;
    }
    .about_area .right .desc {
        width: 95%;    
    }   
    .about_area .right .desc p {       
       padding: 15px 0 0 0;
    }
    .about h3 span {
        display: block;
    }
}
@media (max-width : 430px) {
    .about_area {
        display: block;                 
    }
    .about_area .left,
    .about_area .right {
        width: 100%; 
        gap: 3em;
    }
    .about_area .right {
        padding-top: 3em;
    }
}
/* index */
.index {
    background-color: #363549;   
}
.index .inner {     
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #b4b4b6;
}
.index .content {
    padding: 2rem 0;  
}
.index .content ul li a {
    display: flex;        
    align-items: center;
    gap: clamp(20px,4.5vw,65px);
    padding: clamp(30px,2.7vw,40px) clamp(5px,4.5vw, 65px);  
}
.index .content ul li {
    position: relative;     
    border-bottom: 1px solid rgb(0, 0, 0);        
}  
.index .content ul li::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255,.25);
}
.index .idxthumb {
    width: 30%;
    height: clamp(150px, 15.2vw, 220px);
    overflow: hidden;
    border-radius: 15px;
}
.index .title_area {
    width: 70%;
    display: flex;    
    align-items: center;
    gap: 3.5em;
}
.index .title_area p {
    font-size: clamp(40px, 8.3vw, 120px);  
    font-weight: 100;
    letter-spacing: -0.05em;
    width: clamp(30px, 9vw, 130px);  
    line-height: 1;
}
.index .title_area p > span{    
    font-size: 0.5em;    
}
.index .title_area .index_title {
    font-size: clamp(22px, 2.5vw, 36px);  
    letter-spacing: -0.02em;
    font-weight: 600;
}
.index .title_area .index_title span.en_title {
    display: block;
    font-size: clamp(14px, 1.8vw,26px);  
    font-weight: 300;
    color: #888;
    padding: 10px 0 0 0;
    letter-spacing: 0;
}
.index .copyright {
    /* padding: clamp(10px, 1.3vw, 20px) 0; */
    color: #888;
}
@media (max-width:1440px){
    .index .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
    }
}
@media (max-width : 930px) {   
    .index .idxthumb {
        width: 40%;
    }
    .index .title_area {
        width: 60%;
    }
    .index .title_area .index_title span.project_title {    
        display: block;
    }
}
@media (max-width : 430px) {
    .index .content ul li a { 
        display: flex;        
        flex-direction: column;        
    }
    .index .idxthumb {
        width: 100%;        
    }
    .index .title_area {
        width: 100%;         
        align-items: flex-start;    
        gap: 2em;       
    }
    .index .title_area .index_title p {
        width: 20%;
    }    
    .index .title_area .index_title span.en_title {
        line-height: .8;
    }
}
/* -------------------------project-selecto-overview -------------------------*/
#selecto .overview {
    background-color: #252525;   
    position: relative;
}
#selecto .overview .inner {    
    position: relative;      
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0 2.5em 0;     
    color: #fff;
    z-index: 10;    
    /* border: 2px solid #f90; */
}
#selecto .overview .content {
    display: flex;
    gap: 2em;
}
#selecto .overview .left {
    width: 30%;
    display: flex;
    flex-direction: column;    
}
#selecto .overview .left .title p {
    padding-bottom: 0.5em ;
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 900;
    color: #F55823;
}
#selecto .overview .left .title h2 {
    padding-bottom: 1em ;
    font-size: clamp(30px, 2.7vw , 40px);
}
#selecto .overview .left .title span {
    display: block;    
}
#selecto .overview .left .desc {
    line-height: 1.6;
}
#selecto .overview .right {
    position: relative;
    width: 70%;       
    /* border: 2px solid #90f;  */
}
#selecto .overview .right img.desktop {
    position: relative;
    right: -10%;
    top: 50%;    
    transform: translateY(-50%);   
}
#selecto .overview .right img.mobile {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: clamp(250px, 50vw, 600px);
    height: auto;    
}
#selecto .overview .taskdesc {
    position: relative;    
    width: 50%;  
    bottom: 100px;  
    /* border: 1px solid #ff0; */
}
#selecto .overview .taskdesc li {    
    display: flex;
    justify-content: space-between;    
    line-height: 1.8;
}
#selecto .overview .taskdesc li span {    
    width: 80%;         
}
#selecto .overview .bg_img {
    position: absolute;
    left: 0;
    top : 50%;
    transform: translateY(-20%);
    width: 50%;
    height: 50%;
    background: url(../images/title_bg_sc.png) no-repeat;     
    background-size: contain;
    /* border: 2px solid #f90; */
}
@media (max-width:1440px){
    #selecto .overview .inner  {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
        overflow: hidden;
    }
}
@media (max-width : 930px) { 
    #selecto .overview .content {
        flex-direction: column;
    }
    #selecto .overview .left {
        width: 100%;        
        flex-direction: column;
    }
    #selecto .overview .left .title_area .desc span {
        display: block;
    }  
    #selecto .overview .right {
        width: 100%;
    }
    #selecto .overview .right img.desktop {            
        transform: none;   
    } 
    #selecto .overview .right img.mobile {        
        bottom: -20px;
    }
    #selecto .overview .taskdesc {            
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;        
        padding-top: 2em;
    }  
    #selecto .overview .taskdesc li span {    
        width: 70%;
    }
    #selecto .overview .bg_img {
        left: 0;
        top: 55%;
        transform: none;
        width: 100%;
        height: 30%;
        background-size: contain;
        /* border: 2px solid #f90; */
    }
}
 @media (max-width : 430px) {    
    #selecto .overview .taskdesc {        
        width: 100%;   
    }
}
/* project-selecto-design-system */
#selecto .design_system {     
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
#selecto .design_system .title {
    padding: 0 0 1em 0;
    border-bottom: 2px solid #333;
}
#selecto .color_system .content ul {
    padding: 3em 0 4.5em 0;
    display: flex;    
    flex-wrap: wrap;
    gap: 2.5em 1em ;
}
#selecto .color_system .content li {
    width: calc((100% - 3em)/4);
}
#selecto .color_system .content li p {
    padding: 10px 5px;
}
#selecto .color_system .content li [class^="colorbox"] {
    width: 100%;
    height: clamp(100px,10.4vw,150px);
    background-color: #ccc;
    border-radius: 15px;
    display: flex;  
    justify-content: center;  
    align-items: end;
    line-height: 3;
}
#selecto .color_system .content li .colorbox1 {
    background-color: #FA4516;
    color: #fff;
}
#selecto .color_system .content li .colorbox2 {
    background-color: #FFF371;
}
#selecto .color_system .content li .colorbox3 {
    background-color: #1C1C1C;
    color: #fff;
}
#selecto .color_system .content li .colorbox4 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}
#selecto .color_system .content li .colorbox5 {
    background-color: #FF9B81;
}
#selecto .color_system .content li .colorbox6 {
    background-color: #FFDDD4;
}
#selecto .color_system .content li .colorbox7 {
    background-color: #F3F3F3;
}
#selecto .typo_system {
    padding-top: 1.5em;
}
#selecto .typo_system .content {    
    display: flex;    
    justify-content: space-between;
    align-items: center;        
}
#selecto .typo_system .fontname {   
    font-family:"SUIT Variable", sans-serif; 
    font-weight: 500;
    padding: 0 1rem;
    font-size: clamp(45px, 3vw, 55px);    
    text-align: center;
}
#selecto .typo_system .typo_table {
    width: 70%;    
    padding: 0 1rem;
}
#selecto .typo_system .typo_table tr {
    line-height: 1.5;
}
#selecto .typo_system .typo_table tr:nth-child(n+3) {
    line-height: 2.2;
}
#selecto .typo_system .typo_table td {
    width: calc(100%/4);
}
@media (max-width:1440px){
    #selecto .design_system {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
    } 
}
@media (max-width:930px){   
    #selecto .typo_system .content {    
        display: block;     
        padding: 0 1em;
    } 
    #selecto .typo_system .fontname {    
        width: 100%;
        padding: 1em 0 0.5em 0;
        font-size: clamp(45px, 3vw, 55px);    
        text-align: center;        
    }
    #selecto .typo_system .typo_table {
        width: 100%;           
    }
    #selecto .typo_system .typo_table tr {
        line-height: 1.5;
    }    
}
@media (max-width:430px){   
    #selecto .color_system .content li {
       width: calc((100% - 1em)/2);
    }
    #selecto .color_system .content ul {
        padding: 3em 0 4.5em 0; 
        gap: 1.5em 1em ;
    }
    #selecto .typo_system .content,
    #selecto .typo_system .typo_table {
        padding: 0;
    }
    #selecto .typo_system .typo_table td:first-child {
        padding-right: 15px;
    }
    #selecto .typo_system .typo_table td:last-child {
        display: none;
    }
}
/* project-selecto-asis */
#selecto .asis {
    background-color: #DADADA;   
}
#selecto .asis .inner {
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;        
    padding: clamp(80px, 10.4vw, 150px) 0;    
}
#selecto .asis .desc{
    padding: 1.5em 0 3em 0;
    line-height: 1.6;
}
#selecto .asis .asis_img {    
    display: flex;
    gap: 20px;
    width: 100%;    
}
#selecto .asis .asis_img img {
    width: calc((100% - 20px )/2);        
    height: auto;
    object-fit: cover;        
    border-radius: 20px;
}
@media (max-width:1440px){
    #selecto .asis .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
        overflow: hidden;
    }
}
@media (max-width:430px){
    #selecto .asis .asis_img {    
        flex-direction: column;
    }
    #selecto .asis .asis_img img {
        width: 100%;   
    }
}
/* project-selecto-tobe */
.tobe h4 {
    text-align: center;
    padding: 4em 0 2em 0;
}
#selecto .tobe {
    background-color: #2B2B45;   
}
#selecto .tobe .inner {
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0;    
}
#selecto .tobe .desc{
    padding: 1.5em 0 0 0;
    line-height: 1.6;
    color: #EFEFEF;
}
#selecto .tobe .desc span {
    display: block;
}
#selecto .tobe .inner h3 {
    color: #F55823;
}
#selecto .tobe .tobe_desktop .img_area1 {
    width: 100%;    
    padding-bottom: clamp(20px, 3.4vw, 50px);        
}
#selecto .tobe .tobe_desktop .sc01 {         
    border-radius: 20px; 
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#selecto .tobe .tobe_desktop .img_area2 {
    display: flex;
    width: 100%;    
    gap:clamp(15px, 2vw, 30px);     
}
#selecto .tobe .tobe_desktop .sc02 {    
    width: calc((100% - clamp(15px, 2vw, 30px))/2);    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#selecto .tobe .tobe_desktop .sc03 {
    width: calc((100% - clamp(15px, 2vw, 30px))/2);    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#selecto .tobe .tobe_mobile .img_area1 {
    display: flex;
    justify-content: space-between;    
    gap: clamp(15px, 2vw, 30px);
    flex-wrap: wrap;
}
#selecto .tobe .tobe_mobile .img_area1 li {
    width: calc((100% - clamp(15px, 2vw, 30px)*3)/4);                         
}
#selecto .tobe .tobe_mobile .img_area1 img {
    height: auto;
    object-fit: contain;
    border-radius: 20px;    
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);      
}
@media (max-width:1440px){
    #selecto .tobe .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;        
    }
}
@media (max-width:930px){
    #selecto .tobe .desc span {
       display: inline;
    }
    #selecto .tobe .tobe_mobile .img_area1 li {
        width: calc((100% - clamp(15px, 2vw, 30px)*1)/2);      
    }
}
@media (max-width:430px){    
    #selecto .tobe .tobe_desktop .img_area1 {
        width: 100%;
        height: auto; 
    }
    #selecto .tobe .tobe_desktop .img_area2 {
        flex-direction: column;
    }
    #selecto .tobe .tobe_desktop .sc02,
    #selecto .tobe .tobe_desktop .sc03 {    
        width: 100%;
    }
    #selecto .tobe .tobe_mobile .img_area1 li {
        width: 100%;
    }
}
/* ------------------------- project-snpmall-overview -------------------------*/
#snpmall .overview {
    background-color: #252525;   
    position: relative;
}
#snpmall .overview .inner {    
    position: relative;      
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0 2.5em 0;     
    color: #fff;
    z-index: 10;    
    /* border: 2px solid #f90; */
}
#snpmall .overview .content {
    display: flex;
    gap: 2em;
}
#snpmall .overview .left {
    width: 30%;
    display: flex;
    flex-direction: column;    
}
#snpmall .overview .left .title p {
    padding-bottom: 0.5em ;
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 900;
    color: #6a6ab9;
}
#snpmall .overview .left .title h2 {    
    padding-bottom: 1em ;
    font-size: clamp(30px, 2.7vw , 40px);
    color: #6a6ab9;
}
#snpmall .overview .left .title span {
    display: block;    
}
#snpmall .overview .left .desc {
    line-height: 1.6;
}
#snpmall .overview .right {
    position: relative;
    width: 70%;       
    /* border: 2px solid #90f;  */
}
#snpmall .overview .right img.desktop {
    position: relative;
    right: -10%;
    top: 50%;    
    transform: translateY(-50%);              
}
#snpmall .overview .right img.mobile {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: clamp(250px, 50vw, 600px);
    height: auto;    
}
#snpmall .overview .taskdesc {
    position: relative;    
    width: 50%;  
    bottom: 100px;  
    /* border: 1px solid #ff0; */
}
#snpmall .overview .taskdesc li {    
    display: flex;
    justify-content: space-between;    
    line-height: 1.8;
}
#snpmall .overview .taskdesc li span {    
    width: 80%;     
}
#snpmall .overview .bg_img {
    position: absolute;
    left: 0;
    top : 50%;
    transform: translateY(-20%);
    width: 50%;
    height: 50%;
    background: url(../images/title_bg_snp.png) no-repeat;     
    background-size: contain;
    /* border: 2px solid #f90; */
}
@media (max-width:1440px){
    #snpmall .overview .inner  {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
        overflow: hidden;
    }
}
@media (max-width : 930px) { 
    #snpmall .overview .content {
        flex-direction: column;
    }
    #snpmall .overview .left {
        width: 100%;        
        flex-direction: column;
    }
    #snpmall .overview .left .title_area .desc span {
        display: block;
    }  
    #snpmall .overview .right {
        width: 100%;
    }
    #snpmall .overview .right img.desktop {            
        transform: none;   
    } 
    #snpmall .overview .right img.mobile {        
        bottom: -20px;
    }
    #snpmall .overview .taskdesc {            
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;        
        padding-top: 2em;
    }  
    #snpmall .overview .taskdesc li span {    
        width: 70%;
    }
    #snpmall .overview .bg_img {
        left: 0;
        top: 55%;
        transform: none;
        width: 100%;
        height: 30%;
        background-size: contain;
        /* border: 2px solid #f90; */
    }
}
 @media (max-width : 430px) {    
    #snpmall .overview .taskdesc {        
        width: 100%;   
    }
}
/* project-snpmall-design-system */
#snpmall .design_system {     
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
#snpmall .design_system .title {
    padding: 0 0 1em 0;
    border-bottom: 2px solid #333;
}
#snpmall .color_system .content ul {
    padding: 3em 0 4.5em 0;
    display: flex;    
    flex-wrap: wrap;
    gap: 2.5em 1em ;
}
#snpmall .color_system .content li {
    width: calc((100% - 3em)/4);
}
#snpmall .color_system .content li p {
    padding: 10px 5px;
}
#snpmall .color_system .content li [class^="colorbox"] {
    width: 100%;
    height: clamp(100px,10.4vw,150px);
    background-color: #ccc;
    border-radius: 15px;
    display: flex;  
    justify-content: center;  
    align-items: end;
    line-height: 3;
}
#snpmall .color_system .content li .colorbox1 {
    background-color: #332A15;
    color: #fff;
}
#snpmall .color_system .content li .colorbox3 {
    background-color: #222222;
    color: #fff;
}
#snpmall .color_system .content li .colorbox4 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}
#snpmall .color_system .content li .colorbox7 {
    background-color: #F7F7F7;
}
#snpmall .typo_system {
    padding-top: 1.5em;
}
#snpmall .typo_system .content {    
    display: flex;    
    justify-content: space-between;
    align-items: center;        
}
#snpmall .typo_system .fontname {    
    font-family:"Rubik", sans-serif;
    font-weight: 500;
    padding: 0 1rem;
    font-size: clamp(45px, 3vw, 55px);    
    text-align: center;
}
#snpmall .typo_system .typo_table {
    width: 70%;    
    padding: 0 1rem;
}
#snpmall .typo_system .typo_table tr {
    line-height: 1.5;
}
#snpmall .typo_system .typo_table tr:nth-child(n+3) {
    line-height: 2.2;
}
#snpmall .typo_system .typo_table td {
    width: calc(100%/4);
}
@media (max-width:1440px){
    #snpmall .design_system {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
    } 
}
@media (max-width:930px){   
    #snpmall .typo_system .content {    
        display: block;     
        padding: 0 1em;
    } 
    #snpmall .typo_system .fontname {    
        width: 100%;
        padding: 1em 0 0.5em 0;
        font-size: clamp(45px, 3vw, 55px);    
        text-align: center;        
    }
    #snpmall .typo_system .typo_table {
        width: 100%;           
    }
    #snpmall .typo_system .typo_table tr {
        line-height: 1.5;
    }    
}
@media (max-width:430px){   
    #snpmall .color_system .content li {
       width: calc((100% - 1em)/2);
    }
    #snpmall .color_system .content ul {
        padding: 3em 0 4.5em 0; 
        gap: 1.5em 1em ;
    }
    #snpmall .typo_system .content,
    #snpmall .typo_system .typo_table {
        padding: 0;
    }
    #snpmall .typo_system .typo_table td:first-child {
        padding-right: 15px;
    }
    #snpmall .typo_system .typo_table td:last-child {
        display: none;
    }
}
/* project-snpmall-asis */
#snpmall .asis {
    background-color: #DADADA;   
}
#snpmall .asis .inner {
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;        
    padding: clamp(80px, 10.4vw, 150px) 0;    
}
#snpmall .asis .desc{
    padding: 1.5em 0 3em 0;
    line-height: 1.6;
}
#snpmall .asis .asis_img {    
    display: flex;
    gap: 20px;
    width: 100%;    
}
#snpmall .asis .asis_img img {
    width: calc((100% - 20px )/2);        
    height: auto;
    object-fit: cover;        
    border-radius: 20px;
}
@media (max-width:1440px){
    #snpmall .asis .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
        overflow: hidden;
    }
}
@media (max-width:430px){
    #snpmall .asis .asis_img {    
        flex-direction: column;
    }
    #snpmall .asis .asis_img img {
        width: 100%;   
    }
}
/* project-snpamll-tobe */
.tobe h4 {
    text-align: center;
    padding: 4em 0 2em 0;
}
#snpmall .tobe {
    background-color: #2B2B45;   
}
#snpmall .tobe .inner {
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0;    
}
#snpmall .tobe .desc{
    padding: 1.5em 0 0 0;
    line-height: 1.6;
    color: #EFEFEF;
}
#snpmall .tobe .desc span {
    display: block;
}
#snpmall .tobe .inner h3 {
    color: #6a6ab9;
}
#snpmall .tobe .tobe_desktop .img_area1 {
    width: 100%;    
    padding-bottom: clamp(20px, 3.4vw, 50px);        
}
#snpmall .tobe .tobe_desktop .sc01 {         
    border-radius: 20px; 
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#snpmall .tobe .tobe_desktop .img_area2 {
    display: flex;
    width: 100%;    
    gap:clamp(15px, 2vw, 30px);     
}
#snpmall .tobe .tobe_desktop .sc02 {    
    width: calc((100% - clamp(15px, 2vw, 30px))/2);    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#snpmall .tobe .tobe_desktop .sc03 {
    width: calc((100% - clamp(15px, 2vw, 30px))/2);    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#snpmall .tobe .tobe_mobile .img_area1 {
    display: flex;
    justify-content: space-between;    
    gap: clamp(15px, 2vw, 30px);
    flex-wrap: wrap;
}
#snpmall .tobe .tobe_mobile .img_area1 li {
    width: calc((100% - clamp(15px, 2vw, 30px)*3)/4);                         
}
#snpmall .tobe .tobe_mobile .img_area1 img {
    height: auto;
    object-fit: contain;
    border-radius: 20px;    
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);      
}
@media (max-width:1440px){
    #snpmall .tobe .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;        
    }
}
@media (max-width:930px){
    #snpmall .tobe .desc span {
       display: inline;
    }
    #snpmall .tobe .tobe_mobile .img_area1 li {
        width: calc((100% - clamp(15px, 2vw, 30px)*1)/2);      
    }
}
@media (max-width:430px){    
    #snpmall .tobe .tobe_desktop .img_area1 {
        width: 100%;
        height: auto; 
    }
    #snpmall .tobe .tobe_desktop .img_area2 {
        flex-direction: column;
    }
    #snpmall .tobe .tobe_desktop .sc02,
    #snpmall .tobe .tobe_desktop .sc03 {    
        width: 100%;
    }
    #snpmall .tobe .tobe_mobile .img_area1 li {
        width: 100%;
    }
}

/* ------------------------- project-sema-overview -------------------------*/
#sema .overview {
    background-color: #252525;   
    position: relative;
}
#sema .overview .inner {    
    position: relative;      
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0 2.5em 0;     
    color: #fff;
    z-index: 10;    
    /* border: 2px solid #f90; */
}
#sema .overview .content {
    display: flex;
    gap: 2em;
}
#sema .overview .left {
    width: 30%;
    display: flex;
    flex-direction: column;    
}
#sema .overview .left .title p {
    padding-bottom: 0.5em ;
    font-size: clamp(24px, 2.5vw, 36px);
    font-weight: 900;
    color: #6a6ab9;
}
#sema .overview .left .title h2 {    
    padding-bottom: 1em ;
    font-size: clamp(30px, 2.7vw , 40px);
    color: #6a6ab9;
}
#sema .overview .left .title span {
    display: block;    
}
#sema .overview .left .desc {
    line-height: 1.6;
}
#sema .overview .right {
    position: relative;
    width: 70%;       
    /* border: 2px solid #90f;  */
}
#sema .overview .right img.desktop {
    position: relative;
    right: -10%;
    top: 50%;    
    transform: translateY(-50%);    
    width: 100%;    
    height: auto;
}
#sema .overview .right img.mobile {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: clamp(250px, 50vw, 600px);
    height: auto;    
}
#sema .overview .taskdesc {
    position: relative;    
    width: 50%;  
    bottom: 100px;  
    /* border: 1px solid #ff0; */
}
#sema .overview .taskdesc li {    
    display: flex;
    justify-content: space-between;    
    line-height: 1.8;
}
#sema .overview .taskdesc li span {    
    width: 80%;     
}
#sema .overview .bg_img {
    position: absolute;
    left: 0;
    top : 50%;
    transform: translateY(-20%);
    width: 50%;
    height: 50%;
    background: url(../images/title_bg_snp.png) no-repeat;     
    background-size: contain;
    /* border: 2px solid #f90; */
}
@media (max-width:1440px){
    #sema .overview .inner  {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
        overflow: hidden;
    }
}
@media (max-width : 930px) { 
    #sema .overview .content {
        flex-direction: column;
    }
    #sema .overview .left {
        width: 100%;        
        flex-direction: column;
    }
    #sema .overview .left .title_area .desc span {
        display: block;
    }  
    #sema .overview .right {
        width: 100%;
    }
    #sema .overview .right img.desktop {            
        transform: none;   
    } 
    #sema .overview .right img.mobile {        
        bottom: -20px;
    }
    #sema .overview .taskdesc {            
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;        
        padding-top: 2em;
    }  
    #sema .overview .taskdesc li span {    
        width: 70%;
    }
    #sema .overview .bg_img {
        left: 0;
        top: 55%;
        transform: none;
        width: 100%;
        height: 30%;
        background-size: contain;
        /* border: 2px solid #f90; */
    }
}
 @media (max-width : 430px) {    
    #sema .overview .taskdesc {        
        width: 100%;   
    }
}
/* project-sema-design-system */
#sema .design_system {     
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
#sema .design_system .title {
    padding: 0 0 1em 0;
    border-bottom: 2px solid #333;
}
#sema .color_system .content ul {
    padding: 3em 0 4.5em 0;
    display: flex;    
    flex-wrap: wrap;
    gap: 2.5em 1em ;
}
#sema .color_system .content li {
    width: calc((100% - 3em)/4);
}
#sema .color_system .content li p {
    padding: 10px 5px;
}
#sema .color_system .content li [class^="colorbox"] {
    width: 100%;
    height: clamp(100px,10.4vw,150px);
    background-color: #ccc;
    border-radius: 15px;
    display: flex;  
    justify-content: center;  
    align-items: end;
    line-height: 3;
}
#sema .color_system .content li .colorbox1 {
    background-color: #FA4516;
    color: #fff;
}
#sema .color_system .content li .colorbox2 {
    background-color: #FFF371;
}
#sema .color_system .content li .colorbox3 {
    background-color: #1C1C1C;
    color: #fff;
}
#sema .color_system .content li .colorbox4 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}
#sema .color_system .content li .colorbox5 {
    background-color: #FF9B81;
}
#sema .color_system .content li .colorbox6 {
    background-color: #FFDDD4;
}
#sema .color_system .content li .colorbox7 {
    background-color: #F3F3F3;
}
#sema .typo_system {
    padding-top: 1.5em;
}
#sema .typo_system .content {    
    display: flex;    
    justify-content: space-between;
    align-items: center;        
}
#sema .typo_system .fontname {    
    padding: 0 1rem;
    font-size: clamp(45px, 3vw, 55px);    
    text-align: center;
}
#sema .typo_system .typo_table {
    width: 70%;    
    padding: 0 1rem;
}
#sema .typo_system .typo_table tr {
    line-height: 1.8;
}
#sema .typo_system .typo_table td {
    width: calc(100%/4);
}
@media (max-width:1440px){
    #sema .design_system {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
    } 
}
@media (max-width:930px){   
    #sema .typo_system .content {    
        display: block;     
        padding: 0 1em;
    } 
    #sema .typo_system .fontname {    
        width: 100%;
        padding: 1em 0 0.5em 0;
        font-size: clamp(45px, 3vw, 55px);    
        text-align: center;        
    }
    #sema .typo_system .typo_table {
        width: 100%;           
    }
    #sema .typo_system .typo_table tr {
        line-height: 1.5;
    }    
}
@media (max-width:430px){   
    #sema .color_system .content li {
       width: calc((100% - 1em)/2);
    }
    #sema .color_system .content ul {
        padding: 3em 0 4.5em 0; 
        gap: 1.5em 1em ;
    }
    #sema .typo_system .content,
    #sema .typo_system .typo_table {
        padding: 0;
    }
    #sema .typo_system .typo_table td:first-child {
        padding-right: 15px;
    }
    #sema .typo_system .typo_table td:last-child {
        display: none;
    }
}
/* project-sema-asis */
#sema .asis {
    background-color: #DADADA;   
}
#sema .asis .inner {
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;        
    padding: clamp(80px, 10.4vw, 150px) 0;    
}
#sema .asis .desc{
    padding: 1.5em 0 3em 0;
    line-height: 1.6;
}
#sema .asis .asis_img {    
    display: flex;
    gap: 20px;
    width: 100%;    
}
#sema .asis .asis_img img {
    width: calc((100% - 20px )/2);        
    height: auto;
    object-fit: cover;        
    border-radius: 20px;
}
@media (max-width:1440px){
    #sema .asis .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
        overflow: hidden;
    }
}
@media (max-width:430px){
    #sema .asis .asis_img {    
        flex-direction: column;
    }
    #sema .asis .asis_img img {
        width: 100%;   
    }
}
/* project-sema-tobe */
.tobe h4 {
    text-align: center;
    padding: 4em 0 2em 0;
}
#sema .tobe {
    background-color: #2B2B45;   
}
#sema .tobe .inner {
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0;    
}
#sema .tobe .desc{
    padding: 1.5em 0 0 0;
    line-height: 1.6;
    color: #EFEFEF;
}
#sema .tobe .desc span {
    display: block;
}
#sema .tobe .inner h3 {
    color: #6a6ab9;
}
#sema .tobe .tobe_desktop .img_area1 {
    width: 100%;    
    padding-bottom: clamp(20px, 3.4vw, 50px);        
}
#sema .tobe .tobe_desktop .sc01 {         
    border-radius: 20px; 
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#sema .tobe .tobe_desktop .img_area2 {
    display: flex;
    width: 100%;    
    gap:clamp(15px, 2vw, 30px);     
}
#sema .tobe .tobe_desktop .sc02 {    
    width: calc((100% - clamp(15px, 2vw, 30px))/2);    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#sema .tobe .tobe_desktop .sc03 {
    width: calc((100% - clamp(15px, 2vw, 30px))/2);    
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);    
}
#sema .tobe .tobe_mobile .img_area1 {
    display: flex;
    justify-content: space-between;    
    gap: clamp(15px, 2vw, 30px);
    flex-wrap: wrap;
}
#sema .tobe .tobe_mobile .img_area1 li {
    width: calc((100% - clamp(15px, 2vw, 30px)*3)/4);                         
}
#sema .tobe .tobe_mobile .img_area1 img {
    height: auto;
    object-fit: contain;
    border-radius: 20px;    
    box-shadow: 10px 10px 15px rgba(0,0,0,.3);      
}
@media (max-width:1440px){
    #sema .tobe .inner {    
        padding: clamp(80px, 10.4vw, 150px) 1.5em;        
    }
}
@media (max-width:930px){
    #sema .tobe .desc span {
       display: inline;
    }
    #sema .tobe .tobe_mobile .img_area1 li {
        width: calc((100% - clamp(15px, 2vw, 30px)*1)/2);      
    }
}
@media (max-width:430px){    
    #sema .tobe .tobe_desktop .img_area1 {
        width: 100%;
        height: auto; 
    }
    #sema .tobe .tobe_desktop .img_area2 {
        flex-direction: column;
    }
    #sema .tobe .tobe_desktop .sc02,
    #selecto .tobe .tobe_desktop .sc03 {    
        width: 100%;
    }
    #sema .tobe .tobe_mobile .img_area1 li {
        width: 100%;
    }
}
/* sectin work -Dark */
/*
#work {
    background-color: #252525;           
}
#work .inner {        
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0 2.5em 0;              
}
#work .title h2 {
    color: #F55823;
}
#work .title h3 {
    color: #fff;    
    padding-top: clamp(80px, 6.9vw, 100px);    
}
#work .content > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
#work .content {
    padding: 30px 0 ;    
}
#work .content .thumb {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;    
}
#work .content .thumb img {
    transition: all 0.4s;
    object-position: center center;
}
#work .content .taskdesc {
    padding: 15px 10px;
    text-align: center;  
}
#work .content .taskdesc p {        
    color: #fff;
    line-height: 1.8;
    font-size: clamp(16px,1.3vw ,18px);
    font-weight: 600;    
}
#work .content .taskdesc span {    
    display: block;
    font-size: 0.9em;
    color: #ccc;
}
#work .thumb .overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:all 0.4s;
}
#work .thumb .overlay span{
    color:#fff;
    font-size:0.8em; 
    letter-spacing: 5px;   
    font-weight:400;
}
#work .thumb:hover .overlay{
    opacity:1;
}
#work .thumb:hover img{
    transform:scale(1.05);
}
#work .overlay i{
    transition:.3s;
}
#work .thumb:hover .overlay i{
    transform:translateX(6px);
}
#work .event_page li {
    width: 50%;
}
#work .event_page .thumb {
    width: 100%;
    height: 250px;
}
#work .package li {
    width: 50%;
}
#work .package .thumb {
    width: 100%;
    height: 250px;
}*/
/* sectin work - light*/

#work {
    background-color: #eaeaea;           
}
#work .inner {        
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0 clamp(80px, 8.3vw, 120px) 0;              
}
#work .title h2 {
    color: #F55823;
}
#work .title h3 {
    /* color: #fff;     */
    padding-top: clamp(80px, 6.9vw, 100px);    
} 
#work .content > ul {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    gap: clamp(20px,2vw,30px);
}
#work .detail_page li {
    width: calc((100% - clamp(20px,2vw,30px)*3)/4);
}
#work .content .thumb {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;    
}
#work .content .thumb img {
    transition: all 0.4s;
    object-position: center center;
}
#work .content .taskdesc {
    padding: 15px 10px;
    text-align: center;  
}
#work .content .taskdesc p {        
    /* color: #fff; */
    line-height: 1.8;
    font-size: clamp(16px,1.3vw ,18px);
    font-weight: 600;    
}
#work .content .taskdesc span {    
    display: block;    
    color: #999;
}
#work .thumb .overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:all 0.4s;
}
#work .thumb .overlay span{
    color:#fff;
    font-size:0.8em; 
    letter-spacing: 5px;   
    font-weight:400;
}
#work .thumb:hover .overlay{
    opacity:1;
}
#work .thumb:hover img{
    transform:scale(1.05);
}
#work .overlay i{
    transition:.3s;
}
#work .thumb:hover .overlay i{
    transform:translateX(6px);
}
#work .event_page li,
#work .package li {
    width: calc((100% - clamp(20px,2vw,30px))/2);
}
#work .event_page .thumb,
#work .package .thumb {
    width: 100%;
    height: 250px;
}
.modal{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background:rgba(0,0,0,.7);    
    justify-content:center;
    align-items:center;
    z-index:9999;
}
.modal.active{
    display:flex;
}
.modal_content{        
    height:90vh;
    overflow-y:auto;
    background:#fff;
    padding:20px;    
    text-align: center;    
}
.modal_content img {
    display:block;
    max-width:85vw;    
    width:auto;
    height:auto;          
}
.close{
    position:absolute;
    top:20px;
    right:20px;    
    background: none;
    border: none;
    color:#fff;
    font-size:clamp(40px,4.1vw,60px);    
    cursor:pointer;        
}
@media (max-width:1440px){
    #work .inner {
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
    }
}
@media (max-width:720px){    
    #work .detail_page li {
       width: calc((100% - clamp(20px,2vw,30px))/2);       
    }
    #work .content .thumb {
        width: auto;
        height: 250px;
    }
    .modal_content{    
        height:80vh;    
    }
    .close{  
        top:90%;
        left:50%;
        transform: translateX(-50%);
    }
}
@media (max-width:430px){    
    #work .content li {
       width: 100%;
    }
}
/* #contact */
#contact {
    background-color: #e74e1c;      
}
#contact .inner {        
    margin: 0 auto;    
    max-width: 1440px;    
    width: 100%;    
    padding: clamp(80px, 10.4vw, 150px) 0 2.5em 0;              
}
#contact .title h2 {
    color: #fff;
}
#contact .content {
    padding: 50px 0;
}
#contact p {
    color: #eaeaea;
    line-height: 1.6;
    font-weight: 400;
    font-size: 1em;    
}
#contact ul {
    padding: clamp(40px, 4.1vw, 60px) 0 0 0;
    color: #eaeaea;    
}
#contact ul li {        
    display: flex;
    justify-content: space-between;      
    flex-wrap: wrap;
    line-height: 1.8;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 1px;    
}
#contact ul li span {    
    display: block;
    width: clamp(70%, 85%, 90%);
    /* border: 1px solid #90f; */
}
#contact .copyright {
    font-size: 14px;    
    position: relative;
    padding: clamp(10px, 1.3vw, 20px) 0;
    border-top: 1px solid rgba(51, 51, 51,0.5);    
    color: #eaeaea;
}
#contact .copyright::after {
    position: absolute;
    content: "";
    left: 0;
    top: 1px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255,0.5);
}
@media (max-width:1440px){
    #contact .inner {
        padding: clamp(80px, 10.4vw, 150px) 1.5em;
    }}
@media (max-width:720px){
    #contact .content p > span{
        display: block;
    }
    #contact ul span {        
        width: 100%;
        padding-bottom: 20px;
    }
}